.footer {
    width: 100%;
    text-align: center;
    color: #b0b0b0;
    font-size: 14px;
    padding-bottom: 20px;
}

.footer hr {
    border: none;
    border-top: 1px solid #d3d3d3;
    margin: 0;
    width: 100%;
}