.card-section {
    width: 60%;
    margin: auto;
    margin-top: -10vh;
    background-color: var(--primary-color);
    border-radius: 30px;
    padding: 20px 20px;
    box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.38);
    -webkit-box-shadow: 2px 6px 5px 0px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 1px 6px 5px 0px rgba(0, 0, 0, 0.38);
}

.founding_partners {
    text-align: center;
    /* max-width: 800px; */
    /* padding: 20px; */
    width: 100%;
    /* margin-top: 30px; */
    /* padding-top: 80px; */
}

.founding_partners .title {
    font-size: 48px;
    color: #e74c3c;
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.partners_v2 {
    width: 80%;
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    grid-template-columns: 45% 5% 45%;
    padding-top: 40px;
}

.partner_v2 {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.partner_v2 img {
    width: 100%;
    height: auto;
}

.partner_v2 h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.partner_v2 p {
    font-size: 14px;
    line-height: 1.6;
    color: #948C8C;
}

.plus,
.equals {
    font-size: 36px;
    color: #1DA261;
    width: 100%;
    text-align: center;
    margin: 0px 0;
}

.result {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    /* flex-wrap: wrap; */
    width: 80%;
    margin: auto;
}

.result img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.result-content {
    width: 100%;
}

.result-content h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.result-content p {
    font-size: 14px;
    line-height: 1.6;
    color: #948C8C;
}

@media(min-width: 768px) {
    .partner_v2 {
        /* width: 45%; */
    }
    .result img {
        width: 40%;
        margin-right: 20px;
        margin-bottom: 0;
    }
    .result-content {
        width: 60%;
    }
}

@media (max-width:768px) {
    .result {
        display: block;
    }
}

@media (max-width:611px) {
    .result {
        display: block;
    }
    .partners_v2 {
        grid-template-columns: 100%;
    }
}